$icomoon-font-family: "DXIcons" !default;
$icomoon-font-path: "fonts" !default;

$dx-icon-home: "\e900";
$dx-icon-edit: "\e905";
$dx-icon-save: "\e962";
$dx-icon-delete: "\e9ac";
$dx-icon-tree: "\e9bc";
$dx-icon-add: "\ea0a";
$dx-icon-cancel: "\ea0f";
$dx-icon-ok: "\ea10";
$dx-icon-minus: "\ea0b";

